// NODE_ENV = "production"
DOMAIN = "http://localhost"
CALLBACK_DOMAIN = "http://localhost:3001"// PORT = "3001"
// FRONTEND_PORT = "3000"
PUPPETEER_PORT = "4000"

COOKIE_KEY = ""
MONGODB_URI = "mongodb://localhost/codify"

GOOGLE_CLIENT_ID = ".apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = ""

GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""

LINKEDIN_CLIENT_ID = ""
LINKEDIN_CLIENT_SECRET = ""
